:root {
  /* --branding-color: #6490b5; */
  --branding-color: #de2e03;
  --box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  color: var(--branding-color);
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.navbar-nav a:hover {
  /* background-color: var(--branding-color); */
  background-color: #f7f7f7;
  border-radius: 10px;
  color: var(--branding-color);
}

/* CSS rules to specify families
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif; */

.highlighted-letter {
  color: black;
}

.leah-pic {
  width: 300px;
  padding: 50px 20px 50px;
  border-radius: 60%;
}

.hero-section {
  margin-top: 50px;
  padding: 100px 60px;
}

/* h1 {
  font-size: 60px;
  font-family: "Pacifico", cursive;
  color: var(--branding-color);
} */
h1 {
  color: var(--branding-color);
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

h2 {
  color: var(--branding-color);
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 300;
  line-height: 1.2;

  /* font-size: 40px; */
  /* line-height: 1.2; */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

/* h2, */
h3,
h4 {
  font-family: "Comfortaa", cursive;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.avatar {
  width: 40%;
  display: block;
  margin: 0 auto;
  padding-top: 90px;
}
.homepage-links {
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-bottom: 30px;
}

.colored-links {
  padding: 5px 45px;
  margin-right: 20px;
  background-color: var(--branding-color);
  border: 1px solid var(--branding-color);
  color: white;
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  text-decoration: none;
}

.colored-links:hover {
  padding: 5px 45px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 25px;
  text-decoration: none;
}

.transparent-links {
  padding: 5px 45px;
  margin-right: 20px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 25px;
  text-decoration: none;
}

.transparent-links:hover {
  padding: 5px 45px;
  margin-right: 20px;
  box-shadow: var(--box-shadow);
  background-color: var(--branding-color);
  color: white;
  border-radius: 25px;
  text-decoration: none;
}

.form-elements,
.submit-btn {
  border: solid 1px var(--branding-color);
  border-radius: 10px;
  padding: 6px 15px;
}

.submit-btn:hover {
  background-color: var(--branding-color);
  border: solid 1px var(--branding-color);
  color: white;
  transition: all ease-in-out 150ms;
  border-radius: 10px;
  padding: 6px 15px;
}
.footer {
  background-color: var(--branding-color);
  color: white;
}
ul {
  display: flex;
  list-style: none;
}
li {
  margin-right: 20px;
}

.social-media-icon i {
  color: white;
}

footer {
  padding: 40px;
}
@media (max-width: 768px) {
  .project-item {
    margin: 20px;
  }
  .homepage-links div {
    /* width: 50%; */
    /* width: 100%; */
    display: block;
    margin-bottom: 10px;
    padding: 15px;
  }
}
