:root {
  --branding-color: #6490b5;
  --box-shadow: 5px 5px 5px rgba(0, 0, 0.8);
}

body {
  margin: 0;
  padding: 0;
}

.navbar-brand {
  color: var(--branding-color);
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.navbar-nav a:hover {
  /* background-color: var(--branding-color); */
  background-color: #f7f7f7;
  border-radius: 10px;
}

/* CSS rules to specify families
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif; */

.highlighted-letter {
  color: black;
}

.leah-pic {
  width: 300px;
  padding: 50px 20px 50px;
  border-radius: 60%;
}

.hero-section {
  margin-top: 20px;
  padding: 100px 60px;
}

h1 {
  font-size: 60px;
  font-family: "Pacifico", cursive;
}
h2,
h3 {
  color: var(--branding-color);
  font-family: "Comfortaa", cursive;
}
h4 {
  color: var(--branding-color);
}

.colored-links {
  padding: 5px 45px;
  margin-right: 20px;
  background-color: var(--branding-color);
  border: 1px solid var(--branding-color);
  color: white;
  border-radius: 25px;
  text-decoration: none;
}

.colored-links:hover {
  padding: 5px 45px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 25px;
  text-decoration: none;
}

.transparent-links {
  padding: 5px 45px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 25px;
  text-decoration: none;
}
.form-elements,
.submit-btn {
  border: solid 1px var(--branding-color);
  border-radius: 10px;
  padding: 6px 15px;
}

.submit-btn:hover {
  background-color: var(--branding-color);
  border: solid 1px var(--branding-color);
  color: white;
  transition: all ease-in-out 150ms;
  border-radius: 10px;
  padding: 6px 15px;
}

@media (max-width: 768px) {
  .project-item {
    margin: 15px;
  }
}
